doctype html
html
    head
        meta(charset='UTF-8')
        title Title
        link(href='./css/style.css' rel='stylesheet')
        script(src='./js/main.js' defer)
    body
        nav
            a(href='/') Home 
            br
            a(href='/kokeilu') Testi
        block content    